<!-- Delete post conformation page -->
{% extends "aa_base.html" %} <!-- Includes Base content -->
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delete</legend> <!-- Delete button -->
                <h2>Are you sure you want to delete the log with {{ object.hours }} hrs?</h2> <!-- Reminder message -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="Yes, Delete">Yes, Delete</button> <!-- Confirm delete button -->
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}"> Cancel </a> <!-- Cancel button -->
            </div>
        </form>
    </div>
{% endblock content %}